@font-face {
    font-family: KH_Font;
    src: url(KH_Font.ttf);
}

body {
    background: url(TwilightTown.png) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    font-family: KH_Font;
    text-align: center;
    color: #d77651;
    font-size: 50px;
    text-shadow: 1.25px 1.25px #fbd38f;
}
.panel {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1.1px 1.1px #f9b380;
    background-color: rgba(252,202,145,0.5);
}

.question {
    color: #fbe39a;
    text-align: center;
    font-family: KH_Font;
    font-size: 45px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #d77651;
}

.options {
    color: #fbe39a;
    font-family: KH_Font;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    position: fixed;
    top: 40%;
    left: 40%;
    text-shadow: 2px 2px #d77651;
}

button {
    text-align: center;
    font-family: KH_Font;
    margin-right: 75px;
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #f9b380;
    color: #fdffb9;
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px #d77651;
    box-shadow: 1px 1px #d77651;
}

#score {
    text-align: center;
    font-family: KH_Font;
    font-size: 50px;
    color: #fbe39a;
    text-shadow: 2px 2px #d77651;
}
